# Servidor
PORT=3000
NODE_ENV=development

# Base de datos
DB_PATH=./database/cvmap.sqlite

# Overpass API
OVERPASS_API_URL=https://overpass-api.de/api/interpreter
OVERPASS_API_URL_FALLBACK=https://overpass.kumi.systems/api/interpreter

# Caché de resultados de empresas (en días)
CACHE_EXPIRATION_DAYS=30

# Radio de búsqueda por defecto (en metros)
DEFAULT_SEARCH_RADIUS=15000