# Dependencias
node_modules/

# Variables de entorno
.env

# Base de datos local
database/*.sqlite
database/*.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# pnpm
.pnpm-store/